<footer class="header h10 w-80 m-a white row m-t50">
    <ul class="col-md-5 d-none d-md-block links t-a-center">
        <a class="lsn white w-40" href="{{ site.link }}/mentions-legales">
            <li class="p20 border-t-5px-h brd-color-1 m-t10 t3 link ">mentions légales</li>
        </a>
    </ul>
    <div class="offset-5 d-block d-md-none"></div>
    <a class="d-b col-md-2" href="{{ site.url }}">
        <img class="w-50 d-b m-a" src="{{ theme.link }}\assets/img/logo.png" alt="">
    </a>

    <ul class="col-md-5 d-none d-md-block links t-a-center">
        <a class="lsn white w-40" href="{{ site.link }}/politique-de-confidentialite">
            <li class="p20 border-t-5px-h brd-color-1 m-t10 t3 link ">politique de confidentialite</li>
        </a>

    </ul>
    <div class="offset-5 d-block d-md-none"></div>
</footer>

