<header class="header h20 w-90 m-a bk-black white sticky row">
    <a class="d-b col-4 col-lg-2" href="{{ site.url }}">
        <img class="img d-b m-a" src="{{ theme.link }}\assets/img/logo.png" alt="">
    </a>
    <div class="offset-6 offset-lg-1"></div>
    {% include "partials/menus/primary-menu.twig" %}
    {% include "partials/menus/dropdown-menu.twig" %}

</header>

