<nav class="nav d-none d-lg-block col-lg-8 m-a">
    <ul class="links d-f spA t-a-center">

        <a class="lsn white w-40" href="{{ site.url }}/#article-anch-1">
            <li class="p20 border-t-5px-h brd-color-1 m-t10 t3 link ">accueil</li>
        </a>
        <a class="lsn white w-40" href="{{ site.url }}/#article-anch-2">
            <li class="p20 border-t-5px-h brd-color-1 m-t10 t3 link ">ma démarche</li>
        </a>
        <a class="lsn white w-40" href="{{ site.url }}/#article-anch-3">
            <li class="p20 border-t-5px-h brd-color-1 m-t10 t3 link ">prestations</li>
        </a>
        <a class="lsn white w-40" href="{{ site.url }}/#article-anch-4">
            <li class="p20 border-t-5px-h brd-color-1 m-t10 t3 link ">contact</li>
        </a>


    </ul>
</nav>